:root {
  font-family: "Inter", sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: #101212;
  color: white;
}

#root {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 24px;
}
